
/* Table 1 Style */
table.header-fixed { 
    position: fixed; 
    top: 50px; display:none;
}
table.header-fixed.todo-list thead th {
    background: -webkit-gradient( linear, left bottom, left top, color-stop(0.02, rgba(123,192,67,0)), color-stop(0.51, rgb(139,198,66)), color-stop(0.87, rgb(158,217,41)) );
    border-color: transparent;
    border-bottom: none;
}

table.todo-list{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}
.todo-list thead th{
    padding:15px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid #93CE37;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    text-align: center;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: arrow;
}
.todo-list thead th:empty{
    background:transparent;
    border:none;
}
.todo-list thead th.sorting-column {
    cursor: pointer;
}
.todo-list thead th.sorting-column span {
    
}
.todo-list thead th.sorting-column span:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 30px solid #2a6496;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    display: inline-block;
    font-size: 0;
    margin: 0 18px -5px;
    visibility: hidden;
}
.todo-list thead th.sorting-column.sorted-asc span:after,
.todo-list thead th.sorting-column.sorted-desc span:after {
    visibility: visible;
}
.todo-list thead th.sorting-column.sorted-desc span:after {
    border-bottom: none;
    border-top: 30px solid #2a6496;
}

.todo-list tbody th{
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    background-color:#9DD929;
    border:1px solid #93CE37;
    border-right:3px solid #9ED929;
    padding:0px 10px;
    background:-webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.02, rgb(158,217,41)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(123,192,67))
        );
    background: -moz-linear-gradient(
        left bottom,
        rgb(158,217,41) 2%,
        rgb(139,198,66) 51%,
        rgb(123,192,67) 87%
        );
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.todo-list tfoot td{
    color: #9CD009;
    font-size:32px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}
.todo-list tfoot th{
    color:#666;
}
.todo-list tbody td{
    padding:10px;
    text-align:center;
    background-color:#DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
.todo-list tbody span.check::before{
    content : url(../images/check0.png)
}


/* editing mode */
.editing table.header-fixed {display: none!important;}

.editing .todo-list tbody td {
    background-color:#F0FFF0;
}

.editing .todo-list tbody .editing td {
    background-color:#BEFFAA;
}

.editing #applicationContent {
    padding-bottom: 200%;
}

body.editing {
    overflow: hidden;
}

#floating-content {
    position: fixed;
    background-color: green;
}

#floating-content.animable {
    transition: top 2s;
    -webkit-transition: top 2s;
}


/* edit view */
.todo-edit-view {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#3c3c3c),to(#222));
    background-image: -webkit-linear-gradient(top,#3c3c3c,0%,#222,100%);
    background-image: -moz-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    background-repeat: repeat-x;
    color: #FAFAFA;
    padding: 10px 20px;
    overflow: hidden;
    font-size: 28px;
}
.todo-edit-view .completed {
    
}
.todo-edit-view .completed input {
    margin: 0px 0px 0px 10px;
    width: 42px;
    height: 42px;
}
.todo-edit-view .completed label {
    float: left;
    margin: 0;
    height: 51px;
}
.todo-edit-view #description {
    display: block;
    width: 100%;
    height: 100px;
}

.todo-edit-view .error-message {
    float: left; 
    clear: both;
    color: #FF4500;
}

.todo-list tbody .todo-item-highlight td {
    background-color: red;
}

.todo-list tbody .todo-item td {
  -webkit-transition: background-color 5s ease-out;
  -moz-transition: background-color 5s ease-out;
  -o-transition: background-color 5s ease-out;
  transition: background-color 5s ease-out;
}

.todo-edit-view .form-left-col {float:left; width: 50%; margin-bottom: 20px;}
.todo-edit-view .form-right-col {float:right; width: 50%; margin-bottom: 20px;}
.todo-edit-view .form-left-col > div {margin: 0px 0px 5px; overflow: hidden;}
.todo-edit-view .button-container {clear: both; float: right;}

.todo-edit-view input[type='range'] {
    -webkit-appearance: none !important;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
    margin: 20px;
    width: 60%;
}
.todo-edit-view input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -webkit-border-radius: 10px;
    background-color: #AAA;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#AAA));
    border: 1px solid #999;
    height: 44px;
    width: 44px;
}

/* completed item */
.todo-item .completed-field {
    width: 64px;
    height: 64px;
    background-size: 100% 100%;
    display: block;
}
.todo-item-completed .completed-field {
    background-image: url('../../img/todo/icon_check.png');
}
.todo-item-uncompleted .completed-field {
    background-image: url('../../img/todo/icon_check_disabled.png');
}

.todo-item-completed a {
    text-decoration: line-through;
}

/* add icon */
.todo-list .new {
    background: none;
    border: none;
    width: 64px;
    height: 64px;
    background-size: 100% 100%;
    display: block;
}
.todo-list .new:hover {
    background-image: url('../../img/todo/icon_add.png');
}
.todo-list .new {
    background-image: url('../../img/todo/icon_add_disabled.png');
}

