<?php

/**
 * template for User\View\Helper\User
 */
$options = array_merge($options, array(
    'viewTemplates' => array (
        'templateTodoListItem' => '#tpl-todo-list-item',
        'templateTodoListHeadItem' => '#tpl-todo-list-head-item',
        'templateTodoList' => '#tpl-todo-list',
        'templateTodoDetails' => '#tpl-todo-details',
        'templteTodoListEmpty' => '#tpl-todo-list-empty',
    )
));

?>

<script type="text/javascript">
    t(<?php echo json_encode($translations) ?>);
</script>

<!-- Templates -->
<script type="text/template" id="tpl-todo-list-item">
    <td><a href='#todo/<%= id %>/switch' class="completed-field"></a></td>
    <td><a href='#todo/<%= id %>'><%= _.escape(description) %></a></td>
    <td><a href='#todo/<%= id %>'><%= _.escape(duedate) %></a></td>
    <td><a href='#todo/<%= id %>'><%= _.escape(priority) %></a></td>
</script>

<script type="text/template" id="tpl-todo-list-head-item">
    <th><button class="new"></button></th>
    <th><%= t(description) %></th>
    <th class="sorting-column" data-sortby="duedate"><span><%= t(duedate) %></span></th>
    <th class="sorting-column" data-sortby="priority"><span><%= t(priority) %></span></th>
</script>

<script type="text/template" id="tpl-todo-list-empty">
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><%= t("Todo.messages.AddNewTodo") %></h3>
            </div>
            <div class="panel-body">
                <p><%= t("Todo.messages.NothingToDo") %></p>
                <p><%= t("Todo.messages.WantToAddNew") %></p>
                <p><a class="btn btn-success pull-right" href="#todo/new"><%= t("Todo.messages.AddNewTodo") %> »</a></p>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/template" id="tpl-todo-list">
	<table class="todo-list">
        <thead class="todo-list-head-items"></thead>
        <tbody class="todo-list-items"></tbody>
    </table>
    <table class="todo-list header-fixed"></table>
</script>

<script type="text/template" id="tpl-todo-details">
    <div class="form-left-col">
        <div class="completed">
            <input type="hidden" id="todoId" name="id" value="<%= id %>" />
            <label><?php echo $translations['Todo.fieldLabels.Completed']; ?>:</label>
            <input type="checkbox" id="completed" name="completed" <% print(completed == "1" ? 'checked="checked"' : '') %> value="1"/>
        </div>
        <div class="duedate">
            <label><?php echo $translations['Todo.fieldLabels.Duedate']; ?>:</label>
            <input type="datetime-local" id="duedate" name="duedate" value="<%= _.escape(duedate) %>"/>
        </div>
        <div class="priority">
            <label><?php echo $translations['Todo.fieldLabels.Priority']; ?>:</label>
            <input type="range" min="1" max="10" id="priority" name="priority"  value="<%= _.escape(priority) %>"/>
        </div>
    </div>
    <div class="form-right-col">
        <label><?php echo $translations['Todo.fieldLabels.Description']; ?>:</label>
        <textarea id="description" name="description"><%= _.escape(description) %></textarea>
    </div>
    <div class="error-message"><%= error %></div>
    <div class="button-container">
        <%  if (id) { %>
        <button class="save"><?php echo $translations['Todo.formLabel.Save']; ?></button>
        <button class="delete"><?php echo $translations['Todo.formLabel.Delete']; ?></button>
        <% } else { %>
        <button class="save"><?php echo $translations['Todo.formLabel.Create']; ?></button>
        <% } %>
        <button class="cancel"><?php echo $translations['Todo.formLabel.Cancel']; ?></button>
    </div>

</script>

<script type="text/javascript">
    $(function(){
        var app = new TodoRouter(<?php echo json_encode($options); ?>);
    });
    
</script>