<?php echo $this->doctype(); ?>
<?php $this->user()->includeHeadScripts(); ?>
<?php $this->todo()->includeHeadScripts(); ?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('ZF2 / Backbone '. $this->translate('Todo List Manager - Toptal screening project'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>

        <!-- Scripts -->
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/js/helpers.js')
            ->prependFile($this->basePath() . '/js/backboneExtensions.js')
            ->prependFile($this->basePath() . '/js/rememberThisPage.js')
            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
            ->prependFile($this->basePath() . '/js/backbone.js')
            ->prependFile($this->basePath() . '/js/underscore.js')
            ->prependFile($this->basePath() . '/js/jquery.min.js')
            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
        ; ?>
        <script type="text/javascript">
            $(function(){
                //delayed backbone start
                $(Backbone.history.start.bind(Backbone.history));
            });

        </script>
    </head>
    <body>
        <div class="applications-templatles">
            <?php 

                echo $this->user()->getApp(array(
                    'renderTarget' => '#applicationContent', 
                    'logoutReturnUrl' => '#home',
                    'loginEventName' => array('UserLoggedIn', 'StartTodoManager'),
                    'logoutEventName' => 'UserLoggedOut',
                    'logoutPreventEventName' => 'UserLoggedOutPrevent',
                    'invalidateTokenEventName' => 'invalidateToken',
                )); 

                echo $this->todo()->getApp(array(
                    'renderTarget' => '#applicationContent', 
                    'itemEditTarget' => '#floating-content',
                    'requestTokenUrl' => 'user/login',
                    'newTokenEventName' => 'UserLoggedIn',
                    'userLogoutEventName' => 'UserLoggedOut',
                    'invalidateTokenEventName' => 'invalidateToken',
                    'appStartEvent' => 'StartTodoManager',
                    'logoutPreventEventName' => 'UserLoggedOutPrevent'
                )); 

            ?>
            <script type="text/javascript">
                $(function() {
                    var r = new RememberThisPage({renderTarget: '#applicationContent', aliases: ['home']});
                });
            </script>
        </div>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand user-only-logged" href="#todo/list"><img src="<?php echo $this->basePath('img/zf2-logo.png') ?>" alt="Zend Framework 2"/>&nbsp;<?php echo $this->translate('Todo List Manager') ?></a>
                    <a class="navbar-brand user-only-unlogged" href="#home"><img src="<?php echo $this->basePath('img/zf2-logo.png') ?>" alt="Zend Framework 2"/>&nbsp;<?php echo $this->translate('Todo List Manager') ?></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active "><a href="#home"><?php echo $this->translate('Home') ?></a></li>
                        <li class="active user-only-logged user-logout-link"><a href="<?php echo $this->todo('list') ?>"><?php echo $this->translate('My Todos') ?></a></li>
                        <li class="active user-only-unlogged user-login-link"><a href="<?php echo $this->user('login') ?>"><?php echo $this->translate('Login') ?></a></li>
                        <li class="active user-only-unlogged user-register-link"><a href="<?php echo $this->user('register') ?>"><?php echo $this->translate('Register') ?></a></li>
                        <li class="active user-only-logged user-logout-link"><a href="<?php echo $this->user('logout') ?>"><?php echo $this->translate('Logout') ?></a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <div id="header"></div>
            <div id="applicationContent"><?php echo $this->content; ?></div>
            <div id="floating-content"></div>
            <hr>
            <footer>
                <p>&copy; 2005 - <?php echo date('Y') ?> by Zend Technologies Ltd. <?php echo $this->translate('All rights reserved.') ?></p>
            </footer>
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
