<div class="jumbotron">
    <h1><?php echo sprintf($this->translate('Welcome to my %sScreening Project%s'), '<span class="zf-green">', '</span>') ?></h1>
    <p><?php echo sprintf($this->translate('Congratulations! You are about to see an amazing %sTodo List Manager%s implementation on running Zend Framework version %s.'), '<a href="https://github.com/Toptal-screening/project-mauricio-prado" target="_blank">', '</a>', \Zend\Version\Version::VERSION) ?></p>
    <p><a class="btn btn-success btn-lg" href="https://github.com/Toptal-screening/project-mauricio-prado" target="_blank"><?php echo $this->translate('This todo manager on Github') ?> &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('REST Api') ?></h3>
            </div>
            <div class="panel-body">
                <p><?php echo sprintf($this->translate('All the Todo administration is made under the support of a REST API. %s check out the available actions %s '), '<a href="/todo-api/v1.0">', '</a>') ?></p>
                <p><a class="btn btn-success pull-right" href="/todo-api/v1.0" target="_blank"><?php echo $this->translate('Rest API Details') ?> &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Backbone Js') ?></h3>
            </div>
            <div class="panel-body">
                <p><?php echo sprintf($this->translate('All the frontend is complelelly made with Backbonejs and Underscorejs. which make it very light and fast.')) ?></p>
                <p><a class="btn btn-success pull-right" href="backbonejs.org" target="_blank"><?php echo $this->translate('Backbone JS') ?> &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><?php echo $this->translate('Begin your fun!') ?></h3>
            </div>
            <div class="panel-body">
                <p><?php echo sprintf($this->translate(
                        'Stop reading this box and just start using the application. You can %slogin here%s with the default user %stest@test.com%s and password %stest%s. Or you can just %sregister in here%s'), '<a href="#user/login">', '</a>', '<b>', '</b>', '<b>', '</b>', '<a href="#user/register">', '</a>'); ?></p>
                <p><a class="btn btn-success pull-right" href="#user/login"><?php echo $this->translate('Login Now') ?> &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
