


.user-view {
    
}

.user-register-view {
    
}

.user-login-view {
    
}

.user-recover-view {
    
}

.user-only-unlogged,
.user-only-logged {
    display: none!important;
}

body.user-login-state-unlogged .user-only-unlogged {
    display: block!important;
}

body.user-login-state-logged .user-only-logged {
    display: block!important;
}


.user-view .validationErrors {
    color: red;
    margin: 10px 0px 5px;
}

.user-view .button-container {
    margin: 10px 0px 5px;
    text-align: right;
}

.user-view .panel-body label {
    display: block;
    margin: 5px 0px 0px;
    clear: both;
}

.user-view .panel-body input {
    width: 100%;
    float: right;
    clear: both;
}