<table style="margin: 0px 0px 1.5em; padding: 0px; border: 1px solid rgb(238, 238, 238); outline: 0px; font-size: 14px; vertical-align: baseline; border-collapse: collapse; border-spacing: 0px; width: 632px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; color: rgb(68, 68, 68); font-family: 'Open Sans', arial, sans-serif; line-height: 21px;">
  <tbody style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background-color: transparent;">
    <tr style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background-color: transparent;">
      <th style="margin: 0px; padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top;">
        Method
      </th>
      <th style="margin: 0px; padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top;">
        URL
      </th>
      <th style="margin: 0px; padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top;">
        Action
      </th>
    </tr>
    <tr class="" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background-color: transparent;">
      <td style="padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; background-color: rgb(250, 250, 250);">
        GET
      </td>
      <td style="padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; background-color: rgb(250, 250, 250);">
        /todo-api/v1.0/999/TOKEN
      </td>
      <td style="padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; background-color: rgb(250, 250, 250);">
        Retrieve all todos
        of user with id = 99
      </td>
    </tr>
    <tr class="" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background-color: transparent;">
      <td style="padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; background-color: rgb(250, 250, 250);">
        GET
      </td>
      <td style="padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; background-color: rgb(250, 250, 250);">
        /todo-api/v1.0/999/TOKEN/10
      </td>
      <td style="padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; background-color: rgb(250, 250, 250);">
        Retrieve todo with id == 10
        of user with id = 99
      </td>
    </tr>
    <tr style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background-color: transparent;">
      <td style="padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; background-color: transparent;">
        POST
      </td>
      <td style="padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; background-color: transparent;">
        /todo-api/v1.0/999/TOKEN
      </td>
      <td style="padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; background-color: transparent;">
        Add a new todo
        for user with id = 99
      </td>
    </tr>
    <tr class="" style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background-color: transparent;">
      <td style="padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; background-color: rgb(250, 250, 250);">
        PUT
      </td>
      <td style="padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; background-color: rgb(250, 250, 250);">
        /todo-api/v1.0/999/TOKEN/10
      </td>
      <td style="padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; background-color: rgb(250, 250, 250);">
        Update todo with id == 10
        for user with id = 99
      </td>
    </tr>
    <tr style="margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14px; vertical-align: baseline; background-color: transparent;">
      <td style="padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; background-color: transparent; border-bottom-left-radius: 4px; border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
        DELETE
      </td>
      <td style="padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; background-color: transparent;">
        /todo-api/v1.0/999/TOKEN/10
      </td>
      <td style="padding: 4px; border: 1px solid rgb(102, 102, 102); outline: 0px; font-size: 14px; vertical-align: top; background-color: transparent; border-bottom-right-radius: 4px; border-top-left-radius: 0px; border-bottom-left-radius: 0px;">
        Delete todo with id == 10
        for user with id = 99
      </td>
    </tr>
  </tbody>
</table>
