<?php
// module/Todo/view/todo/todo/delete.phtml:

$completed = 'Delete todo';
$this->headTitle($completed);
?>
<h1><?php echo $this->escapeHtml($completed); ?></h1>

<p>Are you sure that you want to delete
    '<?php echo $this->escapeHtml($todo->completed); ?>' by
    '<?php echo $this->escapeHtml($todo->description); ?>'?
</p>
<?php
$url = $this->url('todo', array(
    'action' => 'delete',
    'id'     => $this->id,
));
?>
<form action="<?php echo $url; ?>" method="post">
<div>
    <input type="hidden" name="id" value="<?php echo (int) $todo->id; ?>" />
    <input type="submit" name="del" value="Yes" />
    <input type="submit" name="del" value="No" />
</div>
</form>