<?php
// module/Todo/view/todo/todo/index.phtml:

$completed = 'My todos';
$this->headTitle($completed);
?>
<h1><?php echo $this->escapeHtml($completed); ?></h1>
<p>
    <a href="<?php echo $this->url('todo', array('action'=>'add'));?>">Add new todo</a>
</p>

<table class="table">
<tr>
    <th>completed</th>
    <th>description</th>
    <th>&nbsp;</th>
</tr>
<?php foreach ($todos as $todo) : ?>
<tr>
    <td><?php echo $this->escapeHtml($todo->completed);?></td>
    <td><?php echo $this->escapeHtml($todo->description);?></td>
    <td>
        <a href="<?php echo $this->url('todo',
            array('action'=>'edit', 'id' => $todo->id));?>">Edit</a>
        <a href="<?php echo $this->url('todo',
            array('action'=>'delete', 'id' => $todo->id));?>">Delete</a>
    </td>
</tr>
<?php endforeach; ?>
</table>