<?php

/**
 * template for User\View\Helper\User
 */
    $options = array_merge($options, array(
        'templateUserLogin' => '#tpl-user-login',
        'templateUserRegister' => '#tpl-user-register',
        'templateUserRecover' => '#tpl-user-recover',
        'fieldsLabels' => array(
            'user_email' => 'User.fieldLabels.Email',
            'user_firstname' => 'User.fieldLabels.Firstname',
            'user_lastname' => 'User.fieldLabels.Lastname',
            'user_password' => 'User.fieldLabels.Password',
            'user_password_confirmation' => 'User.fieldLabels.PasswordConfirmation'
        ),
        'loginUrl' => $this->url('user', array('action' => 'login')),
        'registerUrl' => $this->url('user', array('action' => 'register')),
        'recoverUrl' => $this->url('user', array('action' => 'recover')),
    ));
?>

<script type="text/javascript">
    t(<?php echo json_encode($translations) ?>);
</script>

<!-- User Templates -->
<script type="text/template" id="tpl-user-login">
    <div class="jumbotron">
        <h1><%= t("User.loginMessages.LoginTitle") %></h1>
        <p><%= t("User.loginMessages.LoginDesc") %></p>
    </div>

    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><%= t("User.loginMessages.Register") %></h3>
                </div>
                <div class="panel-body">
                    <p><%= t("User.loginMessages.RegisterDesc") %></p>
                    <a class="btn btn-success" href="#user/register"><%= t("User.loginMessages.Register") %></a>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><%= t("User.loginMessages.Login") %></h3>
                </div>
                <div class="panel-body">
                    <div>
                        <label for="user_email"><%= t("User.fieldLabels.Email") %>: </label>
                        <input type="text" name="email" id="user_email" />
                    </div>

                    <div>
                        <label for="user_password"><%= t("User.fieldLabels.Password") %>: </label>
                        <input type="password" name="password" id="user_password" />
                    </div>

                    <div class="errors-container"></div>

                    <div class="button-container">
                        <button class="btn btn-success login"><%= t("User.formLabel.Login") %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="tpl-user-register">
    <div class="jumbotron">
        <h1><%= t("User.registerMessages.Title") %></h1>
        <p><%= t("User.registerMessages.Description") %></p>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><%= t("User.registerMessages.Login") %></h3>
                </div>
                <div class="panel-body">
                    <p><%= t("User.registerMessages.LoginDesc") %></p>
                    <a class="btn btn-success" href="#user/login"><%= t("User.registerMessages.Register") %></a>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default panel-register">
                <div class="panel-heading">
                    <h3><%= t("User.registerMessages.Register") %></h3>
                </div>
                <div class="panel-body">
                    <label for="user_firstname"><%= t("User.fieldLabels.Firstname") %>: </label>
                    <input type="text" name="firstname" id="user_firstname" />

                    <label for="user_lastname"><%= t("User.fieldLabels.Lastname") %>: </label>
                    <input type="text" name="lastname" id="user_lastname" />

                    <label for="user_email"><%= t("User.fieldLabels.Email") %>: </label>
                    <input type="text" name="email" id="user_email" />

                    <label for="user_password"><%= t("User.fieldLabels.Password") %>: </label>
                    <input type="password" name="password" id="user_password" />

                    <label for="user_password_confirmation"><%= t("User.fieldLabels.PasswordConfirmation") %>: </label>
                    <input type="password" name="password_confirmation" id="user_password_confirmation" />

                    <div class="errors-container"></div>

                    <div class="button-container">
                        <button class="btn btn-success register"><%= t("User.formLabel.Register") %></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="tpl-user-recover">
    <label for="user_email">Email: </label>
    <input type="text" name="email" id="user_email" />

    <div class="errors-container"></div>
    
    <div class="button-container">
        <button class="recover"><%= t("User.formLabel.Recover") %></button>
    </div>
</script>


<script type="text/javascript">

    $(function(){
        var userApp = new UserRouter(<?php echo json_encode($options); ?>);
    });
    
</script>